 
    html {
      font-size: 16px;
    } 
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      gap: 20px;
      background-color: #0d0b1b;
    }
    ul li {
      float: right;
    }
    a {
      text-decoration: none;
    }
    img {
      max-width: 100%;
    }
    ul li a {
      display: block;
      color: #f5f5dc;
      font-family: "newnord", sans-serif;
      font-size: var(--fs-base);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    ul li a:hover {
      background-color: #2a2ad3;
      color: #f5f5dc;
    }
    .logo {
      height: 1.5rem;
      width: auto;
      margin: 10px;
    }
    .logodisplay {
      display: grid;
      padding: 2rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 70%;
      align-content: center;
    }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body{
      background-color: rgb(13, 11, 27);
  }
    .loginbox {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      margin-inline: auto;
      width: min(440px, 90%);   
      max-height: 90vh;        
      height: auto;
    }
    .loginheader{
      text-align: center;
      margin-bottom: 20px;
    }
    .inputbox .inputfield{
      width: 100%;
      height: 60px;
      font-size: 17px;
      padding: 0 25px;
      margin-bottom: 15px;
      border-radius: 30px;
      border: solid 2px #f168fc;
      box-shadow: 0px 2px #f168fc;
      background-color: #f5f5dc;
      outline: none;
      transition: .3s;
    }
    ::placeholder{
      font-family: "newnord", sans-serif;
      color: #0d0b1b;
      font-weight: 500;
    }
    .inputfield:focus {
      width: 110%;
    }
    .forgot {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      font-family: "newnord",sans-serif;
      color: #2a2ad3;
    }
    .section {
      display: flex;
      align-items: center;
      font-size: 14px;
      color:#f5f5dc;
    }
    #check{
      margin-right: 10px;
    }
    a {
      text-decoration: none;
    }
    .inputsubmit {
      position: relative;
    }
    .submitbtn {
      top: 0;
      left: 0;
      padding: 15px 25px;
      background-color: beige;
      color: #2a2ad3;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: "newnord", sans-serif;
      border: solid #2a2ad3;
      border-radius: 12px;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }
    .signuplink {
      text-align: center;
      font-size: 15px;
      margin-top: 20px;
    }
    .signuplink a{
      color: #f168fc;
      font-weight: 500;
    }
    .white {
      color:#f5f5dc
    }
    .navy{
      color: #0d0b1b;
    }
    .orange{
      color: #eb9c3c;
    }
    .blue {
      color: #2a2ad3;
    }
    .pink {
      color: #f168fc;
    }
    .whiteblue {
      color: #f5f5dc;
      -webkit-text-stroke: .9px #2a2ad3;
    }
    h1 {
      font-size: var(--fs-xxl); 
      font-family: "Tumb", fantasy;
      margin: 10px;
      line-height: 1;
      margin: 30px;
    }
    
    h2 {
      font-size: var(--fs-xl); 
      font-family: "newnord", sans-serif;
      font-weight: 800;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: 2px;
      margin: 20px;
    }

    h3 {
      font-size: var(--fs-md);
      font-family: "newnord", sans-serif;
      font-weight: 700;
      font-style: normal;
      margin: 20px;
    }
    h4 {
      font-size: var(--fs-sm);
      font-family: "newnord", sans-serif;
      font-weight: 500;
      font-style: normal;
      margin: 20px;
    }
    .backgroundvideo {
      position: relative;
      width: 100%;
      height: 600px;
      background-size: cover;
      box-sizing: content-box;
      overflow: hidden;
    }
    .backvid {
      position:absolute;
      top: 0;
      left: 0;
      width: 100;
      height: 100%;
      object-fit:cover;
      z-index: -1;
      transform: scale(1.5);
    }
    @media (min-width: 768px) {
  .backgroundvideo {
    height: 400px;
  }
}

/* Style for desktop screens (min-width: 1024px) */
@media (min-width: 1024px) {
  .backgroundvideo {
    height: 100vh; /* Full viewport height on desktop */
  }
}
    .textoverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
    }
    p {
      font-size: var(--fs-base);
      font-family: "newnord", sans-serif; 
      font-weight: 400;
      font-style: normal;
      margin: 20px;
      line-height: 1.3;
    }
    .storecontainer {
      max-width: 90rem;
      margin-inline: auto;
      padding-inline: 2rem;
      align-items: center;
    }
    .productgrid {
      display: grid;
      grid-template-columns:
      repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
      margin: 3rem;
      align-items: center;
    }
    /* .stacked {
      display: grid;
    }
    .stacked > * {
      grid-column: 1 / 1;
      grid-row: 1 / 2;
    } */
    .productimg {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 12px;
      border: solid 2px #f168fc;
      align-items: center;
    }
    .productcard {
      background-color: #f5f5dc;
      border: solid #f168fc;
      border-radius: 12px;
      overflow: hidden;
      padding: 20px;
      box-shadow: .3rem .3rem #f168fc;
      border-radius: 12px;
      box-sizing: content-box;
      height: auto;
    }
    .productinfo {
      align-self: end;
      margin: .5rem;
      padding: .5rem;
    }
    .storebutton  {
      top: 0;
      left: 0;
      padding: 15px 25px;
      background-color: beige;
      color: #2a2ad3;
      font-size: 1rem;
      font-weight: 700;
      font-family: "newnord", sans-serif;
      border: solid #2a2ad3;
      border-radius: 12px;
      cursor: pointer;
      display: block;
    }
:root {
  --primary-color: #f5f5dc;
  --secondary-color: #eb9c3c;
  --tertiary-color: #0d0b1b;
  --quetemary-color: #f168fc;
  --fifth-color: #2a2ad3;
  --product-card-text-alignement: left;
  --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

}
    .my-paragraph {
        background-color:#eb9c3c;
        color: #f5f5dc;
        padding: 20px;
        margin: auto;

    }
    .biggest {
        stroke: #eb9c3c;
        stroke-width: 2px;
    }
    .fill {
        background-color: #0d0b1b;
        opacity: 93%;
        padding: 20px;
        border-radius: 18px;
        border: solid #f168fc 2px;
        display: grid;
        margin: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .position {
      position: relative;
    }
    .blend {
      mix-blend-mode: normal;
    }
    .hovereffect  {
      top: 0;
      left: 0;
      padding: 15px 25px;
      background-color: beige;
      color: #f168fc;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: "newnord", sans-serif;
      border: solid #f168fc;
      border-radius: 12px;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }

button:hover {
  box-shadow: .3rem .3rem 0px #f168fc;
  transition: .2s ease-out;
  border: solid #f168fc 2px;
  color: #f168fc;
}

.lineup div {
  margin: 10px;
  padding: 20px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(250px, 100%/5)), 1fr));
  grid-template-rows: repeat (a);
  gap: 1rem;
  margin: 2rem;
}
@media (min-width:768px){
  .parent {
    margin: 1rem;
  }
}
@media (min-width:1024px){
  .parent {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
.box {
  height: 8rem;
  box-sizing: content-box;
  overflow: hidden;
  padding: 20px;
  border: solid #f168fc;
  border-radius: 12px;
  text-align: left justify;
}
.box:hover {
  transition: 0.2s ease-out;
  box-shadow: .3rem .3rem #2a2ad3;
  border: solid #2a2ad3;
}
.imagebck {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
}
/* .wrapper {
  justify-content: flex-end;
} */
.footer {
  display: grid;
  position: relative;
  z-index: 2;
  margin: 20px;
  background-color: #2a2ad3;
  padding: 20px; 
  border: solid 2px #eb9c3c;
  border-radius: 18px;
  box-shadow: .3rem .3rem #eb9c3c;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.footerimg {
  /* grid-column: 2; */
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  justify-self: center;
}
.frontdisplay {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 768px) {
  .frontdisplay {
    grid-template-columns: repeat(2, 1fr);
  }
}